.navbar-bestone {
   /* background-color: #00874b;*/
    
}
.navbar-default .navbar-nav>li>a{
    color: #ccc;
}
.navbar-bestone .navbar-nav>.active>a {
    color: #00874b;
    background: azure;
}
.navbar-default .navbar-brand{
    color:#00874b;
}

.col-md-6.nav-basic p {
    float: left;
    margin: 0 auto;
    padding: 1em;
}
#mini-nav {
    background: #00874b;
    color: #fff;
}
.navbar {
    padding: 2em 0;
    margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
    color: #00884c;
}
.nopadding {
    padding: 0;
    margin:0;
}
.best-carousel {
    margin-bottom:5em;
}

.col-md-6.nopadding.about-img img{
    margin:0 auto;
    padding:0;
}
.about {
   margin-bottom: 2em !important;
}
.col-md-6.about-txt {
    
}
/*parallax css*/
.parallax { 
    /* The image used */
    background-image: url("../images/selmas-turkish-cuisine.jpg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax p {
    padding: 5em 0;
    color: #00874b;
    font-size: 3em;
}
/*parallax css*/
/*client list carousel*/
 @media (min-width: 768px) and (max-width: 991px) {
      #myCarousel .carousel-inner .item .item-item:last-child {
        display: none;
      }
   }
@media (max-width: 768px) {
     #mymyCarousel .carousel-inner {
      height: 320px;
    }
 }
.carousel-inner {
  overflow-y: hidden;
}
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}

.carousel-inner .item-item {
    padding: 2em!important;
    margin-right: 6.7em;
}
.parallaxpart {
    margin-bottom: 0.5em;
}
/*client list carousel*/

.col-md-12.foot{
    background-color: #00874b;
    color: #fff;
    
}
.footer li {
    list-style: none;
   
}
.qrcode img {
    margin: 0 auto;
    padding: 1em;
}

/*multilevel menu style*/
.dropdown-submenu {
    position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }
.dropdown-menu {
        min-width: fit-content;
}
    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }



/*multilevel menu style*/

/*modal*/
.btn-best {
    color: #fff;
    background-color: #00884c;
    border-color: #00884c;
}
/*modal*/

/*google maps responsiveness*/
    .google-maps {
        position: relative;
        padding-bottom: 40%;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
/*google maps responsiveness*/
